<h1>Showing article details:</h1>

<p><strong>Title: <%= @article.title %></strong></p>
<p><strong>Description: <%= @article.description  %></strong></p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %> |
<%= link_to 'Return to article listening', articles_path %>
